.aDashCont{
    position: relative;
    display: flex;
        flex-direction: column;
        width: 77.4%;
        max-width: 1177px;
        margin: auto;
        border: solid;
        top: 126px;
}

.aDashName{
    position: relative;
    color: #000;
        font-size: 28px;
        font-family: Ovo;
        line-height: 39px;
        margin: auto;
}

.aDashMain{
    position: relative;
        max-width: 1177px;
        height: auto;
        display: flex;
        justify-content: space-between;
}

.aDashInfo{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 5px;
}

.aDashInfo1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
}

.aDashDiv1{
    height: 46px;
    padding-left: 8px;
    padding-top: 4px;
}
.LogButton{
    margin-top: 40px;
    height: 46px;
        background: #8B3DFF;
        border: 1px solid #A0A0A0;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
}