.imgCont{
        position: relative;
        width: 77.4%;
        max-width: 1177px;
        height: auto;
        top: 126px;
        margin: auto;
    /* background-repeat: no-repeat;
    background-size:cover; */
}

.backImg{
    width: 100%;
    height: auto;
}

.onimgdiv2{
    border: none;
    width:50%;
    height:660px;
    position:absolute;
    bottom:-1px;
    left:750px;
}
.onimgdiv2:hover{
    border: solid;
    border-color: white;
}

.onimgdiv1{
    border: none;
    width:50%;
    height:660px;
    position:absolute;
    bottom:-1px;
}
.onimgdiv1:hover {
    border: solid;
    border-color: white;
}

.imgdiv1{
    border: solid;
    border-color:white;
    border-width:5px;
    width:310px;
    height:310px;
    position:absolute;
    top:4px;
    left:65px;
}

.imgdiv2{
    border: solid;
    border-color:white;
    border-width: 5px;
    width: 310px;
    height: 310px;
    position: absolute;
    top:322px;
    left:384px
}

.imgPainting{
    width: 310px;
    height:310px;
}
.imgPainting:hover{
    width: 330px;
    height: 330px;
}

.imgPottery{
    width: 310px;
    height:310px;
}
.imgPottery:hover{
    width: 330px;
    height: 330px;
}
