

.navflexcont{
    width: 100%;
    height: 101px;
    background: #F7F7F7;
    position: fixed;
    z-index: 2;
}

.ok {
    margin: auto;
    position: relative;
    width: 80.4%;
    max-width: 1277px;
    height: 80px;
    display: flex;
    flex-shrink: 1;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    border-bottom-color: #D9D9D9;
    border-bottom-width: 1px;
}
.first{
    width: 30%;
    display: flex;
    align-items: center;
}
.second{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.third {
    width: 25%;
    display: flex;
    margin-left: 8%;
    margin-top: 10px;
    justify-content: space-between;
}

.nice {
    letter-spacing:0.01em;
    color:#2e3718;
    font-size: 1.5em;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    justify-content: center;
}

.nice:hover{
    font-size: 1.7em;
}

.navDiv{
    flex: 1;
}

a{
    text-decoration: none;
}

.nav_btn {
    width: 143px;
    height: 46px;
    background: #8B3DFF;
    border: 1px solid #A0A0A0;
}

.nav_btn:hover{
    background-color: #7e2bfa;
}

.logoName {
        font-family: 'Palanquin Dark';
        font-style: normal;
        font-weight: 400;
        font-size: 230%;
        /* line-height: 52%; */
        /* or 52% */
    
        /* letter-spacing: -0.055em; */
    
        /* Black */
        padding: 0px;
        color: #000000;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
            background-image: linear-gradient(-225deg,
                    #231557 0%,
                    #44107a 29%,
                    #ff1361 67%,
                    #fff800 100%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            /* color: #fff; */
            background-clip: text;
            /* text-fill-color: transparent; */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            /* display: inline-block; */
            /* font-size: 190px; */
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.menuBar {
        width: 35px;
        height: 35px;
        border: solid;
}
.sideMenu {
    background-color: #1C6758;
    width: 140px;
}

.sideMenudiv {
    height: 100px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

@media (max-width : 1047px) {
    .first {
        align-items: center;
    }

    .ok{
        justify-content: center;
    }

    .logoName {
        display: flex;
        justify-content: center;
        font-size: 34px;
    }

    .nice {
        display: none;
    }

    .nav_btn {
        display: none;
    }

    .second {
        display: none;
    }

    .third {
        display: none;
    }
}

@media (min-width : 819px) {
    .menuBar {
        display: none;
    }
}

.iconContainer{
    width: 143px;
    height: 46px;
    background: #8B3DFF;
    border: 1px solid #A0A0A0;
    margin-right: 8px;
}

.iconContainer:hover{
    background: #7e2bfa;
}

.icon{
                width: 20px;
                border:solid 2px;
                border-radius: 2px;
}
.logout_btn{
        width: 143px;
            height: 46px;
            background: #8B3DFF;
            border: 1px solid #A0A0A0;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #000000;
}

.logout_btn:hover{
    background: #7e2bfa;
}

.btnName{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    display: inline-block;
}
/* login component css*/
.show {
    display: block;
    transition: 800ms;
    opacity: 1;
}

.show.active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
}