*{
    margin: 0;
}

body {
    
}


.ok {
    background: #F7F7F7;
    position: fixed;
    width: 100%;
    display: flex;
    height: 101px;
    z-index: 1;
}
.first{
    width: 30%;
    display: flex;
    align-items: center;
}
.second{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nice {
    letter-spacing:0.01em;
    color:#2e3718;
    font-size: 1.5em;
    text-decoration: none;
}

.nice:hover{
    color: white;
}

.third {
    width: 30%;
    display: flex;
    margin-left: 8%;
    margin-top: 10px;
}
.nav_btn {
    width: 123px;
    height: 46px;
    background: #8B3DFF;
    border: 1px solid #A0A0A0;
}

/* .nav_btn:hover{
    background-color: white;
} */

.logoName {
    position: absolute;
        left: 9.24%;
        right: 63.62%;
        top: 36.64%;
        bottom: 41.04%;
    
        font-family: 'Palanquin Dark';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 25px;
        /* or 52% */
    
        letter-spacing: -0.055em;
    
        /* Black */
    
        color: #000000;
}
.menuBar {
        width: 35px;
        height: 35px;
        border: solid;
}
.sideMenu {
    background-color: #1C6758;
    width: 140px;
}

.sideMenudiv {
    height: 100px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

@media (max-width : 819px) {
    .first {
        width: 30%;
    }

    .nice {
        display: none;
    }

    .nav_btn {
        display: none;
    }

    .second {
        flex: 1;
    }

    .third {
        display: none;
    }
}

@media (min-width : 819px) {
    .menuBar {
        display: none;
    }
}

.iconContainer{
    width: 123px;
    height: 46px;
    background: #8B3DFF;
    border: 1px solid #A0A0A0;
    margin-right: 8px;
}
.icon{
                width: 20px;
                border:solid 2px;
                border-radius: 2px;
}
.logout_btn{
        width: 100%;
            height: 2em;
            background: #8B3DFF;
            border: 1px solid #A0A0A0;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #000000;
}
.btnName{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    display: inline-block;
}