.quantityWrap {
    width: 5vw;
    display: flex;
    justify-content: space-between;
}

.quantCount {
    width: 22px;
    display: flex;
    font-size: large;
    justify-content: center;
    border:solid;
    border-width: 1px;
    border-radius: 50%;
}

.decButton {
    border: none;
    font-size: large;
    background-color: transparent;
}

.incButton {
    border: none;
    font-size: large;
    background-color: transparent;
}