.quantityWrap {
    width: 5vw;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

.quantCount {
    width: 22px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    border:solid;
    border: none;
}

.decButton {
    border: none;
    background-color: transparent;
}

.incButton {
    border: none;
    background-color: transparent;
}