
.swrapper {
    position: relative;
    width: 100%;
    max-width: 1220px;
    height: 600px;
    top : 20px;
    display: flex;
    text-decoration: none;
    margin: auto;
    justify-content: space-between;
}

.mainProduct {
    width: 542px;
    height: 584px;
}
.mainProduct:hover {
    opacity: 0.8;
}

.main1 {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.main2 {
    display: flex;
    width: 542px;
    height: 584px;
}

.main12Cont{
    display: flex;
    flex-direction: row;
    gap : 40px;
}

.main3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    gap:40px;
}

.sideImg {
    width: 70px;
    height: 70px;
}
.sideImg1{
    width: 70px;
    height: 70px;
}
.sideImg:hover{
    opacity: 0.8;
}

.productName {
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 39px;
    /* or 122% */

    color: #000000;
}

.productDisc {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */

    /* display: flex; */
    align-items: center;
    margin-bottom: 10%;
    color: rgba(0, 0, 0, 0.7);
}

.price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 25px;
    /* or 78% */
    padding-top: 4px;
    color: #D22A2A;
}

.priceName {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D9D9D9;
    padding-bottom: 10px;
}

.btn-container {
    display: flex;
    gap: 30px;
}

.sBuyButton {
    width: 210px;
    height: 46px;
    background: #000000;
}

.sCartButton {
    width: 210px;
    height: 46px;
    background: #000000;
}

.nameCon {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */

    text-align: center;

    color: #FFFFFF;
}



@media (max-width : 1030px) {
    .swrapper{
        width: 95%;
        height: 500px;
    }
    
    /* .main3{
        width: 30%;
    } */

    .mainProduct{
        width: 462px;
        height: 484px;
    }

    .main2 {
            width: 462px;
            height: 484px;
    }

    .main12Cont{
        gap : 20px;
    }
}
@media (max-width : 775px) {
    .swrapper {
            width: 80%;
            height: 550px;
        }
    
        .mainProduct {
            width: 402px;
            height: 424px;
        }
    
        .main2 {
            width: 402px;
            height: 424px;
        }

        .main1{
            flex-direction: row;
            gap: 10px;
        }

        .main12Cont{
            flex-direction: column-reverse;
            justify-content: start;
        }

        .main3{
            gap: 21px;
        }

}

@media (max-width : 430px) {
    .swrapper {
        width: 80%;
        height: 900px;
        flex-direction: column;
        gap: 5px;
    }

    .mainProduct {
        width: 372px;
        height: 394px;
    }

    .main2 {
        width: 372px;
        height: 394px;
    }

    .main1 {
        flex-direction: row;
        gap: 10px;
    }

    .main12Cont {
        flex-direction: column-reverse;
        justify-content: start;
    }

    .main3{
        width: 100%;
    }

    .btn-container{
        justify-content: space-between;
    }
}

@media (max-width : 380px) {
    .swrapper {
        width: 75%;
        height: 900px;
        flex-direction: column;
        gap: 5px;
    }

    .mainProduct {
        width: 342px;
        height: 384px;
    }

    .main2 {
        width: 342px;
        height: 384px;
    }

    .main1 {
        flex-direction: row;
        gap: 5px;
    }

    .main12Cont {
        flex-direction: column-reverse;
        justify-content: start;
    }

    .main3 {
        width: 100%;
    }

    .btn-container {
        justify-content: space-between;
    }
}

@media (max-width : 325px) {
    .swrapper {
        width: 65%;
        height: 900px;
        flex-direction: column;
        gap: 5px;
    }

    .mainProduct {
        width: 322px;
        height: 374px;
    }

    .main2 {
        width: 302px;
        height: 374px;
    }

    .main1 {
        flex-direction: row;
        gap: 5px;
    }

    .main12Cont {
        flex-direction: column-reverse;
        justify-content: start;
    }

    .main3 {
        width: 100%;
    }

    .btn-container {
        justify-content: space-between;
    }

    .productName{
        font-size: 32px;
    }

    .price{
        font-size: 22px;
    }
}

/* .mainImg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
} */



